/*#photo_container {
	height: 460px;
	width: 840px;
}
*/

#photo_container {
height: 460px;
width: 840px;
position: relative;
overflow: hidden;

}

/*.carousel {
height: 460px;
width: 890px;
position: relative;
overflow: hidden;

}*/

.carousel ul {
	list-style: none;
}

.carousel li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.one_photo img:hover {
  opacity: 0.5;
  border: 1px solid #fff;
  outline: 3px solid #8ba8d7;
}
.one_photo img {
  border: 1px solid transparent;
}

/*#Map*/
.map {
  display: inline-block;
  margin-left: 10px;
  vertical-align: super;
  width: 30%;
}

.desc_inside {
  display: inline-block;
  width: 60%;
}

/*med screen*/
@media screen and (max-width:1024px) {


  body {width: 100% !important;}
  #photo_container {
    width: 100%;
    margin: 4px;
  }
}
/*small screen*/
@media screen and (max-width:768px) {
  .desc_inside, .map {width: 100%}
  .map {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .facilities, h2 {text-align: center;}
}